.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 30px auto;
    padding: 10px;
    box-shadow: 0 0 20px rgba(55%, 55%, 55%, 0.5);
    border-radius: 15px;
}

.description {
    width: 150px;
    text-align: center;
}

.avatar {
    width: 150px;
    border-radius: 100%;
    border: 1px solid #000;
}

.name {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    color: rgba(31, 84, 79, 0.941);
}

.tag {
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.3;
}

.location {
    margin-bottom: 15px;
    font-size: 17px;
    font-style: italic;
}

.stats {
    display: flex;
    align-items: center;
    padding: 0px;
    background: rgba(188, 248, 205, 0.558);
    ;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 77px;
    height: 77px;
    border: 1px solid #737373;
    padding: 15px 10px;
}

.item:not(:last-child) {
    border-right: transparent;
}

.label {
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.3;
}

.quantity {
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.3;
    color: rgba(31, 84, 79, 0.941);
}