.item {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(55%, 55%, 55%, 0.5);
}

/* .status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
} */

.online {
    /* composes: status; */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgb(0, 255, 0);
}

.offline {
    /* composes: status; */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgb(207, 24, 24);
}

.avatar {
    margin-left: 20px;
}

.name {
    margin-left: 20px;
}