.transaction_history {
    margin: 30px auto;
    width: 500px;
    text-align: center;
    border-spacing: 0;
}

.transaction_name {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(20, 211, 195);
}

.transaction_type {
    border: 1px solid black;
    padding: 10px;
}

.transaction_type::first-letter {
    text-transform: uppercase;
}

.transaction_row {
    background-color: rgba(104, 238, 178, 0.733);
}

.transaction_row:nth-child(2n) {
    background-color: rgba(188, 248, 205, 0.558);
}